/********* Fonts **********/

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}


/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: #ffaa01;
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 0 0 14px 0;
	text-align: center;
}

p {
	margin: 8px 0 0 0;
}

a {
	text-decoration: none;
}

.container p {
	text-align: center;
	padding: 0;
}


/****** Header Styling ******/

header {
	background-color: white;
	color: #ffaa01;
}

header p {
	margin: 16px 0 5px 0;
	display: inline-block;
	margin-right: 40vw;
}

.menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #ffaa01;
	display: inline-block;
}

.menu:visited {
	color: #ffaa01;
}

.menu:hover {
	color: #ffaa01;
}

.menu:active {
	color: #ffaa01;
}

header a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ffaa01;
}

#display-name {
	font-weight: 400;
}


/****** Login Styling ******/

.login {
	margin: 30px auto 0 auto;
	text-align: center;
}

#login-btn {
	width: 225px;
	padding: 7px 5px;
}

.title {
	color: white;
	font-size: 60pt;
	font-family: 'Roboto';
	margin-top: 10vh;
}

.login p {
	color: white;
	margin-bottom: 20px;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

.modal-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
	opacity: 1;
	visibility: visible;
}

.modal {
	width: 450px;
	display: block;
	margin: 50% 0 0 -13.2%;
	position: relative;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
	margin-top: -20%;
	opacity: 1;
	border-radius: 3px;
}

.head {
	width: 90%;
	height: 32px;
	padding: 1.5em 5%;
	overflow: hidden;
	background: #fff;
	border-radius: 3px;
}

.btn-close {
	width: 32px;
	height: 32px;
	display: block;
	float: right;
}

.btn-close::before,
.btn-close::after {
	content: '';
	width: 32px;
	height: 6px;
	display: block;
	background: #ff4538;
}

.btn-close::before {
	margin-top: 12px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.btn-close::after {
	margin-top: -6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.content {
	padding: 5%;
}


/****** Logo Div Styling ******/

img {
	margin: 0 auto;
	display: block;
}

.clementine-text {
	/* Styling for the Clementine.js text */
	padding: 0;
	margin: -25px 0 0 0;
	font-weight: 500;
	font-size: 60px;
	color: #FFA000;
}


/****** Click Styling ******/

.btn-container {
	/* Styling for the div that contains the buttons */
	margin: 30px auto 0 auto;
	text-align: center;
}

.btn-container .btn {
	margin: 0 25px;
}

.btn {
	/* Styling for buttons */
	margin: 0 8px;
	color: white;
	background-color: #00BCD4;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100px;
	font-weight: 500;
}

.btn:focus {
	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {
	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {
	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}


/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #fff;
	text-align: center;
	color: #ffaa01;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
	color: #00BCD4;
}

.profile-value {
	font-weight: 400;
	color: #00BCD4;
}

.data-container span {
	font-weight: 500;
	color: #00bcd4;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #00BCD4;
}

.github-profile .menu:active {
	color: #00BCD4;
}

.data-container {
	width: 450px;
	background-color: white;
	border-radius: 3px;
	text-align: center;
	margin: auto;
	margin-top: 30px;
	padding: 10px;
	padding-top: 20px;
}

.your-polls-list {
	list-style: none;
	margin-left: -40px;
}

.your-polls-list li button {
	display: inline-block;
	margin: auto;
	background-color: #ff4538;
}

.your-polls-list li {
	border-left: 3px solid #00BCD4;
	margin: 10px;
}

.your-polls-list li p {
	display: inline-block;
	font-size: 14pt;
	text-align: center;
	width: 300px;
}

.your-polls {
	display: none;
}

.data-container p, .content p {
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	color: #ffaa01;
	font-size: 15pt;
}

.data-container .options-list {
	list-style: none;
	margin-left: -40px;
}

.data-container .name,
.data-container .option,
.content input {
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	width: 200px;
	font-size: 12pt;
	border-radius: 3px;
	color: #ffaa01;
	border: 0px;
	border: 2px solid #00BCD4;
}

.vote-list {
	list-style: none;
	margin-left: -40px;
}

.vote-list li {
	background-color: white;
	border-left: 2px solid #00bcd4;
	color: #00bcd4;
	padding: 10px;
}

.vote-list li p {
	color: #00bcd4;
}

.vote-list .active {
	background-color: #00bcd4;
	color: white;
}

.chart-container {
	display: none;
}

@keyframes bake-pie {
	from {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
}

body {
	font-family: "Open Sans", Arial;
}

main {
	width: 400px;
	margin: 30px auto;
}

section {
	margin-top: 30px;
}

.pieID {
	display: inline-block;
	vertical-align: top;
}

.pie {
	height: 200px;
	width: 200px;
	position: relative;
	margin: 0 30px 30px 0;
}

.pie::before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 100px;
	height: 100px;
	background: #fff;
	border-radius: 50%;
	top: 50px;
	left: 50px;
}

.pie::after {
	content: "";
	display: block;
	width: 120px;
	height: 2px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
	margin: 220px auto;
}

.slice {
	position: absolute;
	width: 200px;
	height: 200px;
	clip: rect(0px, 200px, 200px, 100px);
	animation: bake-pie 1s;
}

.slice span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	clip: rect(0px, 200px, 200px, 100px);
}

.legend {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #f2f2f2;
	padding: 15px;
	font-size: 13px;
}

.legend li {
	width: 110px;
	height: 1.25em;
	margin-bottom: 0.7em;
	padding-left: 0.5em;
	border-left: 1.25em solid black;
}

.legend em {
	font-style: normal;
}

.legend span {
	float: right;
}

.view-poll {
	display: none;
}

.data-container a {
	display: block;
	text-decoration: none;
	color: white;
	border-radius: 3px;
	background-color: #00bcd4;
	padding: 8px;
	width: 200px;
	font-family: 'Roboto';
	margin: auto;
	margin-top: 10px;
}

.signup, .login-direct, .login {
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 20px;
}